language: python
dist: focal

matrix:
  include:
  - os: linux
    python: 3.7
  - os: linux
    python: 3.8
  - os: linux
    python: 3.9


install:
- pip install .
- pip install codecov nose nose-exclude nose-timer "pluggy>=1.0"
script: coverage run -m nose --exclude-dir=tests/resources --with-timer
after_success:
  - codecov
