language: python
dist: focal
branches: # this prevents undesired branch builds for PRs
  only:
    - master

os: linux

python:
- "3.7"
- "3.8"
- "3.9"
- "3.10"
- "3.11"
- "3.12"

install:
- pip install --upgrade pip
- pip install -r requirements.txt
- pip install coverage nose-exclude nose-timer "pluggy>=1.0"
script: coverage run --source=apiritif -m nose2 -s tests/unit -v
