language: python
dist: bionic

matrix:
  include:
  - os: linux
    python: 3.6
  - os: linux
    python: 3.7
  - os: linux
    python: 3.8
#  - os: osx
#    language: generic


install:
- pip install .
- pip install codecov nose nose-exclude nose-timer
script: coverage run -m nose --exclude-dir=tests/resources --with-timer
after_success:
  - codecov
